doctype html
html
  head
    title Vaibhav Dance Acadamy
    block scripts
    block style
  body
    nav#navbar
        ul
            div#logo
                img(src="/static/ok2.jpg", alt="")
                | -VDA
            li #[a(href="/") Home]
            li #[a(href="/") About]
            li #[a(href="/") Services]
            li #[a(href="/") Class Info]
            li #[a(href="/") Contact Us]
    block content
    footer#footer
        | Copyright: 2022 Vaibhav Dancecadamy 